[Unit]
Description=3x-ui service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/x-ui
Restart=on-failure
RestartSec=5s
Environment=XRAY_LOCATION_ASSET=__INSTALL_DIR__/bin
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN CAP_NET_RAW
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/etc/x-ui /var/log/x-ui __INSTALL_DIR__
ProtectHome=yes
PrivateDevices=no
ProtectKernelModules=yes
ProtectControlGroups=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes

[Install]
WantedBy=multi-user.target
